#header{
  text-decoration: none;
}

.topPanel-panel{
    position: relative;
    background: #5b5d5f;
    height: 48px;
}
.topPanel-left{
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
}
.topPanelNav{
    display: inline-block;

}
.topPanelNavButton {
    padding: 4px 6px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    vertical-align: top;
    padding: 4px 18px;
    cursor: pointer;
    line-height: 37px;

}

.topPanelNavButton-text{
  
    font-size: 20px;
    padding-top: 4px;
    color: white;
    margin-left: 15px;
}
.topPanel-right{
    text-align: right;
    right: 0;
}
.topPanel-left, .topPanel-right {
    position: absolute;
    top: 0;
    bottom: 0;
}

.topPanel-right{
    text-align: right;
    right: 0;
}
.topPanel-rightInner{
    padding: 9px 20px 0 0;
}
.topPanelUserBar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 16px;
    margin-left: 16px;
    border-left: solid 1px #888;
    font-size: 12px;
    line-height: 1.3;
}
.topPanelUserBar-signIn {
    font-size: 14px;
    font-size: 20px;
    color: #e6e6e6;
    cursor: pointer;
}
